*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(61, 58, 58);
    padding: 20px;
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-img{
    width: 120px;
}
.menus{
    display: flex;
    
}
.menu-item{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
}
.menu-item:hover{
    color: red;
}